{
    "env": {
        "browser": true,                         // щоб знати в якому окруженни працюєм
        "es6": true,
        "node": true
    },                               
    "extends": ["airbnb/base"],
    "rules": {
        "semi":"error",                              // крапки і крапки з комами
        "no-console":"error",                            // консоль логи
        "no-plusplus": "off",                               // плюсики
        "eol-last":"off",                                    // пуста строка в кінці файла   
        "max-len": ["error", 150, {"ignoreUrls": true } ],        // максимальна довжина строки 
        "no-tabs":"off",
        "no-alert":"off",
        "prefer-destructuring":"off",                       // відключити деструктуризацію
        "indent": ["tab", 2],                                // відступи і таби
        "no-param-reassign":"off"
    } 
} 